# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

if SHIELD_NOIRIX44_LEFT

config ZMK_KEYBOARD_NAME
    default "noirix44"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NOIRIX44_LEFT || SHIELD_NOIRIX44_RIGHT

config ZMK_SPLIT
    default y

endif
